#cookie{
    margin: 0px;
    padding: 5px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;

    width: 100%;
    background-color: black;
    box-shadow: 0px -17px 65px -4px rgba(0,0,0,0.75);
    display: none;
}
#cookie>p{
    color: #fff;
    font-size: 12px;
    margin: 20px;
}
#cookie>h6{
    font-weight: bold;
    font-size: 16px;    
    color: #fff;
    margin: 20px;
    
}
#but{
    position: absolute;
    top: 10px;
    right: 15px;
    border: 5px solid #7B1FA2;
    background-color: #FF4081;
    color: #fff;
}
#cookie>p>a{
    color: rgb(233, 177, 177);
    border-bottom: solid 1px;
    font-size: 12px;
    margin-left: 5px;
}