.details {
  width: 100%;
}

.details__all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.details__box {
  font-size: 1.2em;
  width: 50%;
  text-align: center;
  padding: 100px;
  font-weight: 100;
}

.details__box i {
  font-size: 40px;
  
}

.details__box p {
  color: var(--primary-text);
}

.details__title {
  text-align: center;  
  font-size: 30px;
}

.details img {
  width: 100%;
  height: 500px;
}

@media(max-width: 1200px) {
  .details__box {
    padding: 40px
  }
}

@media (max-width: 800px) {
  .details__alls {
    flex-direction: column;
  }
  .details__box {
    width: 100%;
    padding: 30px;
  }
}