@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


header {
    top: 0;
    position: relative;
    margin: 0;
    position: fixed;
    width: 100vw;
    background: transparent;
}

.nav-transparent::after, .nav-colored::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
}

.nav-transparent::after {
    background-color: transparent;
    top: -150px;
}

.nav-colored::after {
    background-color: #584198;
    top: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px;
}

.nav__left {
    margin: 20px 0px;
}

.nav__right a:not(.nav__active) {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
}

.nav__active {
    color: #584198;
    text-decoration: none;
    font-size: 20px;
    background: linear-gradient(90deg, #DAD299 -11.59%, #B0DAB9 131.46%);
    border-radius: 6px;
    margin-left: 60px;  
    padding: 10px 40px;
}



/* .nav-colored { 
    background-color:rgb(148, 148, 148);
    transition: .3s;
}
.nav-transparent { 
    background-color:transparent;
    transition: .3s;
} */