*{
   box-sizing: border-box;
    
}
.container{
    background: linear-gradient(to bottom, rgba(217,97,32,1) 0%, rgba(112,32,217,1) 100%);
}
h1{
    
}
img{

}
nav {
    display: flex;
    align-items: flex-start;
}

nav a {
    border: 2px solid back;
    padding: 4px;
}

nav a:hover {
    background-color: black;
    color: white;
}