body{
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: rgb(228, 166, 166);
    display: flex;
    flex-direction: column;
}
.header{    
    width: 100%;
    height: 20%;
    background-color: burlywood;
    color:  rgb(110, 92, 68);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    align-self: center;
}
/* ----------------------divy do divów z nami------------------ */
.content{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.team{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* -------------------------divy z nami---------------------- */
.card{
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 30px;
    border: 5px solid white;
}
/* divy z jpgami */
.span{
    max-width: 307.75px;
    max-height: 158.91px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.span>img{
    max-width: 138.48px;
    max-height: 216.38px;
}
/* divy z danymi do jpgów */
.data{ 
    max-width: 307.75px;
    max-height: 158.91px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3{
    align-self: center;
}
.socials{
    align-self: center;
    margin-bottom: 10px;
}
/* ------------------------------------------------------*/
  .button {
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
  } 
  .button:hover {
    background-color: rgb(85, 85, 85);
  }
  .about-me{
      display: none;
  }

/* ======================================================================= */
@media (max-width: 800px){
    .content{
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .content{
        flex-direction: column;    
    }
    .team{
        flex-direction: column;
        height: 50vh;
    }
    .card{
        height: 20vh;
        margin: 10px;
    }
    .span{
        max-width: 153px;
        max-height: 75px;
        margin-bottom: 10px;
    }
    .span>img{
        max-width: 66px;
        max-height: 108px;
        
    }
    .data{ 
        max-width: 307.75px;
        max-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .button{
        display: none;
    }
    .socials{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .about-me{
        display: block;
    }
}
