body{
font-family: 'Share Tech Mono', monospace;
    
}
.wrapper{
    height: 100vh;
    width: 100%;
    background-color: rgb(228, 166, 166);
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 20%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.people{ 
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}
.team{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* .images{
    width: 40%;
    height: 50%;
    background-color: rgb(15, 97, 97);
}
.images-1{
    width: 40%;
    height: 50%;
    background-color: rgb(97, 15, 83);
} */

img{
    border-radius: 50px;
    align-self: center;
    margin-left: 20%;

}
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .button {
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: rgb(85, 85, 85);
  }

@media (max-width: 800px){

    .team{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .images{
        margin: 0px 0px 20px;
    }
}

@media (max-width: 500px){
    .people{ 
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
    }
    .team{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .images{
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0px 0px 20px;
    }
    .images-1{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}