.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: url(vaporwave_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-clip: padding-box;;
}

.hero__text {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 150px;
    flex-direction: column;
    color: white;
    font-size: 30px;
}
.hero__certe {
    color: #f00
}
.hero__text h1 {
    margin: 10px 0;
}
.hero__text p {
    margin: 0;
}
.hero__image {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}